<header class="mui-bar header-bar">
    <h1 class="mui-title">书架</h1>
</header>

<div class="mui-content">
    <div class="mui-content-padded">
        <div class="mui-table-view mui-grid-view shelf">
            <div class="mui-table-view-cell mui-col-sm-6 mui-col-xs-6">
                <div class="mui-card" style="margin:4px;" data-click="goto" data-page="read">
                    <div class="mui-card-content">
                        <div class="mui-card-content-inner">
                            <img src="img/1.jpg" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mui-table-view-cell mui-col-sm-6 mui-col-xs-6">
                <div class="mui-card" style="margin:4px;">
                    <div class="mui-card-content">
                        <div class="mui-card-content-inner">
                            <img src="img/2.jpg" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mui-table-view-cell mui-col-sm-6 mui-col-xs-6">
                <div class="mui-card" style="margin:4px;">
                    <div class="mui-card-content">
                        <div class="mui-card-content-inner">
                            <img src="img/3.jpg" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
