.shelf{
    position: inherit !important;
    background: none !important;
    padding:0 !important;
}
.shelf .mui-table-view-cell{
    padding-left:0 !important;
}
.shelf .mui-card .mui-card-content-inner{
    padding:0.1rem !important;
}